html {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #fafafa;
    --mdc-theme-primary: #000;
    --cardColor: #00000005;
    --gray: #0000005B;
    --activeGray: #0000004C;
    color: black;
}

body {
    transition: all 0.4s ease;
}

body[scheme="vkcom_dark"], [scheme="vkcom_dark"]{
    background: #000000de;
    --mdc-theme-primary: #fff;
    --cardColor: #ffffff1a;
    --gray: #FFFFFF70;
    --activeGray: #FFFFFF60;
}

body[scheme="vkcom_dark"], [scheme="vkcom_dark"], :root {
    --mdc-theme-surface: #363636;
    --mdc-theme-on-surface: #fff;
}

body[scheme="vkcom_dark"], [scheme="vkcom_dark"] {
    color: #fff;
}

.content img {
    padding: 1em;
    width: 40vW;
}

pre {
    background: var(--cardColor);
}

.hljs .hljs-number {
    color: cornflowerblue;
}

body[scheme="vkcom_dark"] .hljs-keyword {
    color: darkorange;
}

body[scheme="vkcom_dark"] .hljs-string {
    color: green;
}

.content blockquote {
    border-left: 4px #007eff solid;
    margin: 0;
    padding-left: 5vW;
}

.mdc-top-app-bar__section--align-center {
    justify-content: center;
}

.content {
    margin: 3vmin;
}

.title {
    font-weight: bold;
    margin-top: 3vMin;
    font-size: 1.5em;
    margin-left: 3vMin;
}

p {
    margin-top: 0;
}

/*MDC*/
.card-header {
    padding: 16px;
    display: flex;
    align-items: center;
}

.card-header h2,
.card-header h3 {
    margin: 0;
}

.mdc-typography--headline6, .card-body, a {
    color: var(--mdc-theme-on-surface);
}

.header-link {
    color: var(--gray)
}

.header-link:hover {
    color: var(--activeGray)
}

.card-body {
    padding: 16px;
}

.content li {
    padding: 0.5em;
}

@media (max-width: 800px) {
    .content img {
        width: 90%;
    }
}

.content table {
    width: 90%;
    margin-bottom: 3vh;
}

.content th, td {
    padding: 3vMin;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

footer {
    padding: 3vH;
}

.toolbar {
    height: 8vh;
    line-height: 8vh;
    padding-left: 15px;
    font-weight: normal;
    box-shadow: #000000D5 0 0 6px 0;
    z-index: 5;
}

.selectable:hover {
    background: rgba(0, 0, 0, 0.25);
}

.lesson {
    padding: 10px;
}

.tabs {
    margin-top: 6px;
    flex-direction: row;
    display: flex;
    z-index: 10;
}

.tab {
    padding: 16px;
    font-weight: normal;
}

#table {
    margin-top: 10px;
}